<div class="listDisplay">
    <div class="container">
        <h3>Owner Emails:</h3>
        <hr/>
    </div>
    <div class="container" style="width: 30%;">
        {{#each owners}}
        <div class="row memberemail">{{ this }}</div>
        {{/each}}
    </div>
</div>