<div class="listDisplay">
    <div class="container">
        <h3>Neighborhood: <span style="font-weight: bold;">{{neighborhoodInfo.nname}}</span></h3>
        <h3>Address: <span style="font-weight: bold;">{{neighborhoodInfo.address}}</span></h3>
        <h3>Average Rating: <span style="font-weight: bold;">{{neighborhoodInfo.avg_rating}}</span></h3>
        <h3>Number of Reviews: <span style="font-weight: bold;">{{neighborhoodInfo.num_reviews}}</span></h3>
        <hr/>
    </div>
    <div class="container" style="width: 30%;">
        <div>
        </div>
    </div>
</div>