<div class="titlediv">
    <div class="innerTitle">
        <h2 class="titleText" style="font-family:sans-serif">
            Welcome to property search, the easiest way to compare different properties in Montreal.
        </h2>
    </div>
    <div class="picture">
        <img class="mcgill" src="/images/ghetto.jpg" alt="mcgill">
    </div>
</div>